---
import Layout from '../../layouts/Layout.astro'
import type { IMemberFrontmatter } from './member'
import { Icon } from 'astro-icon'

import { getCollection, getEntryBySlug } from 'astro:content'
const members = await getCollection('member')
const student = members.filter((member) => member.data.major !== '')
const staff = members
  .filter((member) => member.data.major === '')
  .sort((a, b) => {
    return a.data.order - b.data.order
  })
---

<Layout title="メンバー">
  <h1 class="my-10 text-3xl font-extrabold">メンバー紹介</h1>
  <!-- スタッフ -->
  <div class="container mx-auto">
    <div
      class="mx-auto grid max-w-7xl grid-cols-1 place-items-center gap-y-10 md:grid-cols-2 xl:grid-cols-3"
    >
      {
        staff.map((staff) => (
          <a href={`${staff.slug}/index.html`}>
            <div class="card w-80 bg-base-300 shadow-xl duration-200 hover:scale-105">
              <figure>
                {staff.data.imagePath ? (
                  <img
                    src={staff.data.imagePath}
                    alt="Shoes"
                    class="h-52 w-full object-cover object-center brightness-90"
                  />
                ) : (
                  <Icon name="mdi:account" class="w-full" />
                )}
              </figure>
              <div class="card-body">
                <h2 class="card-title flex align-bottom">
                  {staff.data.name.main}
                  <p class="text-sm font-thin text-gray-800">
                    {staff.data.name.sub}
                  </p>
                </h2>
                <div class="badge badge-outline">{staff.data.grade}</div>
              </div>
            </div>
          </a>
        ))
      }
    </div>
  </div>
  <!-- スタッフ終わり -->
  <div class="divider"></div>
  <!-- 学生 -->
  <div class="container mx-auto">
    <div
      class="mx-auto grid max-w-7xl grid-cols-1 place-items-center gap-y-10 md:grid-cols-2 xl:grid-cols-3"
    >
      {
        student.map((student) => (
          <a href={`${student.slug}/index.html`}>
            <div class="card w-80 bg-base-300 shadow-xl duration-200 hover:scale-105">
              <figure>
                {student.data.imagePath ? (
                  <img
                    src={student.data.imagePath}
                    alt="Shoes"
                    class="h-52 w-full object-cover object-center brightness-90"
                  />
                ) : (
                  <Icon name="mdi:account" class="w-full" />
                )}
              </figure>
              <div class="card-body">
                <h2 class="card-title flex align-bottom">
                  {student.data.name.main}
                  <p class="text-sm font-thin text-gray-800">
                    {student.data.name.sub}
                  </p>
                </h2>
                <div class="badge badge-outline">{student.data.major}</div>
                <div class="badge badge-outline">{student.data.grade}</div>
              </div>
            </div>
          </a>
        ))
      }
    </div>
  </div>
  <!-- 学生終わり -->
</Layout>
