---
import { date, map } from 'astro/zod'
import Layout from '../../layouts/Layout.astro'
import { getCollection } from 'astro:content'

const blog_posts = await getCollection('blog')
const recent_posts = blog_posts
  .sort((a, b) => Date.parse(b.data.date) - Date.parse(a.data.date))
  .slice(0, 3)
const limit = 5
const event_posts = blog_posts
  .sort((a, b) => Date.parse(b.data.date) - Date.parse(a.data.date))
  .filter((post) => post.data.tag.includes('blog'))
  .slice(0, limit + 1)

const news_posts = blog_posts
  .sort((a, b) => Date.parse(b.data.date) - Date.parse(a.data.date))
  .filter((post) => post.data.tag.includes('news'))
  .slice(0, limit + 1)
---

<Layout title="研究室のようす">
  <section>
    <div>
      <!-- コンテント -->
      <div class="">
        <!-- 題名とリード -->
        <div class="mb-12 space-y-2 text-center">
          <h1 class="text-3xl font-bold text-gray-800 md:text-4xl">
            研究室のようす
          </h1>
          <p class="text-gray-600 lg:mx-auto lg:w-6/12">
            最近の高橋・狩川研究室の中をのぞいてみましょう。
          </p>
        </div>
        <!-- 題名とリードここまで -->
        <!-- ここからブログ投稿のカード -->
        <div class="mx-auto text-center">
          <h2 class="py-12 text-3xl font-bold">最近の投稿</h2>
        </div>
        <div class="grid grid-cols-1 place-items-center gap-6 lg:grid-cols-3">
          {
            recent_posts.map((recent_post) => (
              <a href={`/blogs/${recent_post.slug}/index.html`}>
                <div class="card h-96 w-80 bg-base-100 shadow-xl">
                  <figure class="max-h-72">
                    <img
                      src={
                        recent_post.data.coverImagePath ?? '/lego-unsplash.jpg'
                      }
                      alt="blog cover image"
                    />
                  </figure>
                  <div class="card-body">
                    <p class="text-base font-light text-gray-500">
                      {new Date(
                        Date.parse(recent_post.data.date)
                      ).toLocaleDateString()}
                    </p>
                    <h2 class="card-title">{recent_post.data.title}</h2>
                    <div class="card-actions justify-end">
                      {recent_post.data.tag.map((tag) => (
                        <div class="badge badge-outline text-base">{tag}</div>
                      ))}
                    </div>
                  </div>
                </div>
              </a>
            ))
          }
        </div>
        <!-- ここまでブログ投稿のカード -->
      </div>
      <!-- コンテントここまで -->
    </div>

    <!-- 詳細へ -->
    <div class="mt-10">
      <div class="justify-center">
        <a href="/blogs/all/index.html" class="">
          <div class="btn btn-primary btn-lg btn-block m-4 mx-auto">
            <div class="">
              <p class="text-lg font-bold">もっと見る</p>
              <p class="text-sm font-light text-gray-200">
                全投稿を見ることができます
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- 詳細へここまで -->
  </section>

  <!-- 各コンテンツごとに最近の記事を表示 -->
  <section class="my-24 rounded-sm bg-base-200 py-8">
    <h1 class="py-12 text-center text-3xl font-bold text-gray-800">
      ジャンル別投稿
    </h1>

    <div class="container mx-auto w-full px-8 md:flex">
      <div class="mx-8 py-8 md:w-1/2">
        <div><h3 class="text-xl font-bold">ニュース</h3></div>
        {
          news_posts.map((post) => (
            <div class="m-4">
              <a
                href={`/blogs/${post.slug}/index.html`}
                class="link link-primary  py-2 text-lg"
              >
                {post.data.title}
              </a>
            </div>
          ))
        }
      </div>
      <div class="mx-8 py-8 md:w-1/2">
        <div><h3 class="text-xl font-bold">ブログ</h3></div>
        {
          event_posts.map((post) => (
            <div class="m-4">
              <a
                href={`/blogs/${post.slug}/index.html`}
                class="link link-primary py-2 text-lg"
              >
                {post.data.title}
              </a>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Layout>
