---
import { getCollection } from 'astro:content';
import ToC from '@components/ToC.astro';
import Layout from '@layouts/Layout.astro';
import { array } from 'astro/zod';
const { data, headings } = Astro.props;
const author_name = data.author_name_main;

import AuthorCard from '@components/AuthorCard.astro';

const author = await getCollection('member')
  .then((authors) =>
    authors.find((author) => author.data.name.main === author_name),
  )
  .catch((e) => console.error(e));
---

<Layout title={data.title} description={data.lead}>
  <style is:global>
    .markdown-body ul {
      @apply mb-4 list-inside list-disc pl-4;
    }
    .markdown-body h1,
    h2,
    h3 {
      @apply mb-4 flex;
    }
    .markdown-body h1,
    h2 {
      @apply border-b-2 border-solid border-gray-200;
    }
    .markdown-body h1 {
      @apply mt-12 pb-2 text-4xl font-bold;
    }
    .markdown-body h2 {
      @apply text-xl font-medium;
    }
    .markdown-body h3 {
      @apply text-lg;
    }
    .markdown-body p {
      @apply mb-4;
    }
    .markdown-body a {
      @apply text-primary no-underline;
    }
    /* ヘディングのアンカーのスタイル */
    .markdown-body a.anchor {
      @apply opacity-30;
    }
    .markdown-body.sr-only {
      @apply hidden;
    }
    /* リストのアイテムのスタイル */

    .markdown-body li.task-list-item {
      @apply list-none;
    }

    .markdown-body ol {
      @apply mb-4 list-inside list-decimal pl-4;
    }

    .markdown-body code::before,
    .markdown-body code::after {
      @apply hidden;
    }

    .markdown-body code {
      @apply bg-slate-300;
    }

    .markdown-body pre code {
      @apply bg-inherit;
    }

    .markdown-body strong {
      @apply underline decoration-sky-200 decoration-4 underline-offset-4;
    }

    .markdown-body img {
      @apply mx-auto w-full;
    }

    .footnotes {
      @apply not-sr-only !mt-12 !border-t-2 !border-dashed !border-primary !border-opacity-50;
    }
    .footnotes p {
      display: inline;
    }

    .astro-code {
      @apply w-[90vw] max-w-xl overflow-x-scroll;
    }

    .astro-code code {
      @apply block flex flex-col whitespace-nowrap;
    }

    .markdown-alert,
    .markdown-alert-custom {
      @apply my-3 rounded-md;
    }

    .markdown-alert-note {
      @apply bg-sky-100;
    }

    .markdown-alert-tip {
      @apply bg-green-100;
    }

    .markdown-alert-important {
      @apply bg-purple-100;
    }

    .markdown-alert-warning {
      @apply bg-amber-100;
    }

    .markdown-alert-caution {
      @apply bg-red-100;
    }
  </style>

  <div class="container mx-auto flex">
    <!-- article start -->
    <div class="mx-auto max-w-2xl space-y-12 px-6 py-16 lg:w-7/12">
      <article class="space-y-6">
        <div class="space-y-3">
          <h1 class="text-4xl font-bold md:text-5xl">
            {data.title}
          </h1>
          <div
            class="flex w-full flex-col items-start justify-between md:flex-row md:items-center dark:text-gray-400"
          >
            <div class="flex items-center md:space-x-1">
              <p class="text-sm">
                <span>{data.date.replace(/-/g, ' / ')}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="">
          <p>{data.lead ?? ''}</p>
        </div>

        <div>
          <div class="flex flex-wrap space-x-2">
            {
              data.tag.map((tag: string) => (
                <a
                  rel="noopener noreferrer"
                  href="#"
                  class="btn btn-outline btn-sm rounded-sm px-3 py-1 hover:underline"
                >
                  #{tag}
                </a>
              ))
            }
          </div>
        </div>
        <div
          class="markdown-body prose border-t border-dashed border-neutral py-6"
        >
          <slot />
        </div>
      </article>
    </div>
    <!-- article end -->
    <!-- sidebar start -->
    <div class="hidden w-4/12 space-y-12 py-16 lg:block">
      {author && <AuthorCard author={author} />}
      {
        Object.keys(headings).length === 0 ? (
          ''
        ) : (
          <div class="sticky top-0 p-3">
            <ToC links={headings} />
          </div>
        )
      }
    </div>
  </div>
</Layout>
